<header class="bg-[#FEFEFF] dark:bg-gray-800 shadow-sm sticky top-0 z-40">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center py-4 md:py-6">
            <div class="flex items-center">
                <button id="menuToggle" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-purple-500 lg:hidden">
                    <span class="sr-only">Open menu</span>
                    <i class="ri-menu-line text-xl"></i>
                </button>
            </div>
            <div class="flex items-center">
                <button id="toggleTheme" class="p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 mr-4">
                    <i class="ri-sun-line text-xl dark:text-white"></i>
                </button>
                <button class="text-gray-600 dark:text-gray-300 p-2 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-full"><i class="ri-notification-line text-xl"></i></button>
                <div class="w-10 h-10 rounded-full bg-violet-600 flex items-center justify-center text-white font-bold text-sm">
                    {{ request.user.first_name|first }}
                </div>
                
            </div>
        </div>
    </div>
</header>